header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 68px 77px 0;
    position: absolute;
    z-index: 1;
    @include tab {
        padding: 24px 20px;
        justify-content: space-between;
        background-color: #fff;
    }
}

.hd-logo {
    font-size: 3.8rem;
}

.hd-navmenu {
    width: 40%;
    @include tab {
        display: none;
    }
    ul{
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        li {
            margin-left: 20px;
            &:first-child {
                text-decoration: underline;
            }
            &:not(:first-child) {
                color: $lightgray;
            }
        }
    }
}

.ham {
    display: none;
    @include tab {
        width: 16px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color:#3B4043;
            &:last-child {
                width: 10px;
            }
        }
    }
}
